:root {
  --background-color: #333;
  --text-color: #cecece;
  --link-color: #fcb42e;
  --menu-item-color: #dedede;
  --selected-item-color: #f49e42;
}

.euiHeader--dark {
  background-color: var(--background-color);
  border-bottom-color: var(--background-color);
}

.kibiterLocalNav {
    background-color: var(--background-color);
    height: 41px;
    padding-left: 6px;
}

.kuiLocalBreadcrumbs {
    background-color: var(--background-color);
    border: none;
}

.kibiterLocalDropdownTitle{
    color: var(--text-color);
    font-size: 20px !important;
    margin-bottom: 5px !important;
}

.kibiterLocalDropdownText{
    color: var(--text-color);
}

.kibiterLocalMenuItem::-moz-focus-inner {
    border: none !important;
}

.kibiterLocalDropdown {
    background-color: var(--background-color);
    z-index: 4000 !important;
    position: fixed !important;
    top: 89px;
    width: 100%;
    height: 140px;
    color: var(--link-color);
}

.kuiLocalMenu {
    padding: 0px !important;
}

.kuiLocalMenuItem:hover {
    background-color: #000000;
    color: #ffffff;
}
.theme-dark .kuiLocalMenuItem {
    color: var(--menu-item-color);
}
.kuiLocalMenuItem:hover, .kuiLocalMenuItem:focus {
    background-color: #006BB4;
    color: #F5F7FA;
}
.kibiterLocalMenuItem:hover, .kibiterLocalMenuItem:focus {
    background-color: #000000 !important;
    color: #F5F5F5;
}

.kuiLocalMenuItem {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    height: 100%;
    padding: 0 10px;
    font-size: 14px;
    background-color: transparent;
    color: #2D2D2D;
    border: 0;
    cursor: pointer;
    border-right: solid 1px transparent;
    border-left: solid 1px transparent;
}

.selected-kibiter-item {
    background-color: var(--selected-item-color);
    color: var(--menu-item-color) !important;
}

.projectName {
    color: var(--link-color);
    padding-right: 20px;
}
.projectName:hover {
    color: var(--link-color);
}

.submenuitem {
  color: currentColor !important;
}

#kibiterjsmenu {
  z-index: 2600;
}

.euiHeader--fixed + .euiHeader--fixed + .euiHeader--fixed {
  top: 90px;
}

.euiBody--headerIsFixed {
  padding-top: 138px !important;
}

.euiBody--headerIsFixed .euiFlyout, .euiBody--headerIsFixed .euiCollapsibleNav {
  top: 140px !important;
  height: calc(100% - 140px) !important;
}

.app-wrapper {
  min-height: calc(100vh - 138px) !important;
}
