.kibiterLocalNav {
    background-color: #333;
    height: 40px;
    padding-left: 6px;
}

.kuiLocalBreadcrumbs {
    background-color: #333 !important;
    border: none;
}

.kibiterLocalDropdownTitle{
    color: #cecece !important;
    font-size: 20px !important;
    margin-bottom: 5px !important;
}

.kibiterLocalDropdownText{
    color: #cecece !important;
}

.kibiterLocalMenuItem:hover, .kibiterLocalMenuItem:focus {
    background-color: #000000 !important;
    color: #F5F5F5 !important;
}

.kibiterLocalMenuItem::-moz-focus-inner {
    border: none !important;
}

.kibiterLocalDropdown {
    background-color: #525252 !important;
    z-index: 3000 !important;
    position: fixed !important;
    top: 89px;
    width: 100%;
    height: 140px;
}



.kuiLocalMenu {
    padding: 0px !important;
}

.kuiLocalMenuItem:hover {
    background-color: #000000;
    color: #ffffff;
}
.theme-dark .kuiLocalMenuItem {
    color: #dedede;
}
.kuiLocalMenuItem:hover, .kuiLocalMenuItem:focus {
    background-color: #006BB4;
    color: #F5F7FA;
}
.kibiterLocalMenuItem:hover, .kibiterLocalMenuItem:focus {
    background-color: #000000 !important;
    color: #F5F5F5;
}

.kuiLocalMenuItem {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    height: 100%;
    padding: 0 10px;
    font-size: 14px;
    background-color: transparent;
    color: #2D2D2D;
    border: 0;
    cursor: pointer;
    border-right: solid 1px transparent;
    border-left: solid 1px transparent;
}

.selected-kibiter-item {
    background-color: #f49e42 !important;
    color: #FFF !important;
}

.projectName {
    color: rgb(252, 180, 46) !important;
    padding-right: 20px;
}
.projectName:hover {
    color: rgb(255, 200, 98) !important;
}

.submenuitem {
    color: rgb(252, 180, 46) !important;
}

#kibiterjsmenu {
  z-index: 2600;
}

.euiHeader--fixed + .euiHeader--fixed + .euiHeader--fixed {
  top: 90px;
}

.euiBody--headerIsFixed {
  padding-top: 138px !important;
}

.euiBody--headerIsFixed .euiFlyout, .euiBody--headerIsFixed .euiCollapsibleNav {
  top: 140px !important;
  height: calc(100% - 140px) !important;
}

.app-wrapper {
  min-height: calc(100vh - 138px) !important;
}
