name: release

on:
  push:
    tags:
      - '*.*.*'
      - '*.*.*-*'

jobs:
  build:
    name: Build plugin
    runs-on: ubuntu-latest
    outputs:
      filename: ${{ steps.build_zip.outputs.filename }}
    steps:
      - name: Checkout plugin source code
        uses: actions/checkout@93ea575cb5d8a053eaa0ac8fa3b40d7e05a33cc8 # 3.1.0
        with:
          path: bitergia-analytics-plugin
      - name: Get plugin metadata
        id: plugin_metadata
        run: |
          echo "name=$(node -p "(require('./bitergia-analytics-plugin/package.json').name)")" >> $GITHUB_OUTPUT
          echo "version=$(node -p "(require('./bitergia-analytics-plugin/package.json').version).match(/[.0-9]+/)[0]")" >> $GITHUB_OUTPUT
      - name: Get OpenSearch Dashboards version
        id: osd_version
        run: |
          echo "version=$(node -p "(require('./bitergia-analytics-plugin/opensearch_dashboards.json').opensearchDashboardsVersion).match(/[.0-9]+/)[0]")" >> $GITHUB_OUTPUT
      - name: Checkout OpenSearch Dashboards
        uses: actions/checkout@93ea575cb5d8a053eaa0ac8fa3b40d7e05a33cc8 # 3.1.0
        with:
          repository: opensearch-project/OpenSearch-Dashboards
          ref: ${{ steps.osd_version.outputs.version }}
          path: OpenSearch-Dashboards
      - name: Get node and yarn versions
        id: versions
        run: |
          echo "node_version=$(node -p "(require('./OpenSearch-Dashboards/package.json').engines.node).match(/[.0-9]+/)[0]")" >> $GITHUB_OUTPUT
          echo "yarn_version=$(node -p "require('./OpenSearch-Dashboards/package.json').engines.yarn")" >> $GITHUB_OUTPUT
      - name: Setup node
        uses: actions/setup-node@64ed1c7eab4cce3362f8c340dee64e5eaeef8f7c # 3.6.0
        with:
          node-version: ${{ steps.versions.outputs.node_version }}
      - name: Setup yarn
        run: |
          npm uninstall -g yarn
          echo "Installing yarn ${{ steps.versions.outputs.yarn_version }}"
          npm i -g yarn@${{ steps.versions.outputs.yarn_version }}
      - name: Move plugin to OpenSearch Dashboards folder
        run: |
          mkdir -p OpenSearch-Dashboards/plugins
          mv bitergia-analytics-plugin OpenSearch-Dashboards/plugins
      - name: Bootstrap plugin/opensearch-dashboards
        run: |
          cd OpenSearch-Dashboards/plugins/bitergia-analytics-plugin
          yarn osd bootstrap
      - name: Build plugin
        id: build_zip
        run: |
          cd OpenSearch-Dashboards/plugins/bitergia-analytics-plugin
          yarn build
          tmp_zip_path=`ls $(pwd)/build/*.zip`
          filename=${{ steps.plugin_metadata.outputs.name }}-${{ steps.plugin_metadata.outputs.version }}_${{ steps.osd_version.outputs.version }}.zip
          zip_path=$(pwd)/build/$filename
          mv $tmp_zip_path $zip_path
          echo "zip_path=$zip_path" >> $GITHUB_OUTPUT
          echo "filename=$filename" >> $GITHUB_OUTPUT
      - name: Upload plugin artifact
        uses: actions/upload-artifact@0b7f8abb1508181956e8e162db84b466c27e18ce # 3.1.2
        with:
          name: plugin_artifact
          path: ${{ steps.build_zip.outputs.zip_path }}

  release:
    name: Release plugin
    needs: [build]
    runs-on: ubuntu-latest
    steps:
      - name: Get release tag
        id: tag
        run: |
          echo "tag=${GITHUB_REF#refs/tags/}" >> $GITHUB_OUTPUT
        shell: bash
      - name: Checkout plugin source code
        uses: actions/checkout@93ea575cb5d8a053eaa0ac8fa3b40d7e05a33cc8 # 3.1.0
        with:
          path: plugin
      - name: Download plugin artifact
        uses: actions/download-artifact@v29bc31d5ccc31df68ecc42ccf4149144866c47d8a # 3.0.2
        with:
          name: plugin_artifact
          path: plugin/build
      - name: Create release
        run: |
          cd plugin
          gh release create ${{ steps.tag.outputs.tag }} build/${{ needs.build.outputs.filename }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
